//$main-color: #2c3e50;
//$secondary-color: #3498db;
//$grey: #8e8e8e;
//$red: #FF3A3A;

// COLORS VARIABLES

// Основні кольори сайту
$primary: #1d1d1d;
$grey: #7c7c7c;
$primary-light: #f8f8f8;
$red: #ff3b39;
$silver: #bfbfbf;

// Брендові кольори
$red-hover: #ff3b39;
$primary-bg: #1d1d1d;
$brand-hover: #ff1a18;

// CSS Custom Properties
:root {
  --primary-color: #{$primary};
  --primary-text-color: #{$primary-light};
  --red-color: #{$red};
  --red-hover-color: #{$red-hover};
  --grey-color: #{$grey};
  --silver-color: #{$silver};
}

[data-theme="light"] {
  --primary-color: #{$primary-light};
  --primary-text-color: #{$primary};
  --red-color: #{$red};
  --red-hover-color: #{$red-hover};
  --grey-color: #{$grey};
  --silver-color: #{$silver};
}